<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conversor de CSV</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/icon.ico" type="image/x-icon">
</head>
<body>
  <div class="navbar">
    <ul>
      <li>
        <img src="https://github.com/victorsouza19.png" alt="creator_img">
      </li>
    </ul>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/victorsouza19">Linkedin</a>
      </li>
      <li>
        <a href="https://github.com/victorsouza19">Github</a>
      </li>
    </ul>
  </div>
 
  <div class="container">
    <div class="content">
      <div class="info">
        <h3>Conversor de CSV para HTML e PDF online!</h3>
      </div>
      <div class="card card-completed">
          <img class="completed" src="/img/completed.svg" alt="completed-img">
          <h4>Arquivo convertido!</h4>
          <span>Obrigado por converter seu arquivo conosco, caso tenha gostado do projeto, visite meu Github e deixe a sua ⭐ no reposítorio  (: </span>
          <div class="button-options">
            <a href="https://github.com/victorsouza19">Visitar Repositório</a>
            <a href="/">Converter novo arquivo</a>
          </div>
          
      </div>
    </div>
  </div>
</body>
</html>