<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conversor de CSV</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <form method="POST" action="/convert">
        <h4>Escolha a opção desejada:</h4>
        <div class="options">
          <div class="option">
            <input type="radio" name="option" value="html" >
            <span>HTML</span>
          </div>
          <div class="option">
            <input type="radio" name="option" value="pdf" >
          <span>PDF</span>
          </div>
        </div>
        <button type="submit">Enviar</button> 
      </form>
    </div>
  </div>
</body>
</html>